extends base

block append head
    link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.5.0/css/all.css", integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU", crossorigin="anonymous")
    script(src="https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.js")
    link(rel="stylesheet", href="https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css")
    link(rel="stylesheet", href="/css/jarallax.css")
    link(rel="stylesheet" href="/css/homepage.css")
     
    script(src="/js/anime.min.js")
    script(src="/js/jarallax.js" defer)
    script(src="/js/jarallax-element.js" defer)
    script(src="/js/homepage_mapbox.js" defer)
    script(src="/js/homepage.js" defer) 
    title= title


block content
    section.bkg-con
        #background 
        h1.bkg-title A GETAWAY
        img.bkg-girl(src="/img/homepage/gril.png", alt="gril image")


    .body-layer
    each tour, index in tours

        section.slide-section(class=`slide-${index +1}`) 
        
            div(class=`box box${index + 1}`)
                h2(data-jarallax-element=`0 ${index%2 === 0? 200: -200}`)=`${tour.name}`
                div(class=`container container${index + 1}`)
                    .imgBx.jarallax
                        - const sourceLink = `/img/homepage/video${index +1}.mp4`                        
                        -if(index=== 1 || index === 2 || index ===6 || index === 8 || index === 9)
                            img.jarallax-img(src=`/img/tours/${tour.imageCover}`)
                        -else
                            video(autoplay muted loop).jarallax-img
                                source(src=sourceLink type='video/mp4')
   
                    .content(data-jarallax-element=`0 ${index%2 === 0? 200: -200}`)
                        p=`${tour.description}`
        - if(index === 6)
            .video-con
                video(autoplay muted loop).clip-path-con
                    source(src='/img/homepage/fall.mp4' type='video/mp4')
                h1 A WORLD TO SEE



        - if (index === 2)
            section.slide-section.map-container
                #map(data-locations=`${JSON.stringify(tours)}`)




